:root{
  --color-primary: #9F84BD;
  --color-primary-light: #C09BD8;
  --color-white: #fff;
  --color-black: #000;
  --color-white-light: #EDE3E9;
  --color-white-dark: #E6E4CE;
  --font-family: "Nunito", sans-serif;
  --font-cursive: "Playwrite HU", cursive;
  --font-sans: "Manrope", sans-serif;
}

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all .2s ease-out;
  text-decoration: none;
}

html{
  font-size: 62.5%;

}

body{
 font-size: 1.6rem;
 font-family: var(--font-family);
 text-transform: capitalize;
}

/* HEADER STYLINGS */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo{
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--color-primary); 
}



.header-nav-list{
  display: flex;
  list-style: none;
  gap: 3rem;
  
}

.header-nav-list-item a{
  color: var(--color-primary);
  font-weight: 700;
}

.header-cta-btn{
  background-color: var(--color-primary);
  color: var(--color-white-light);
  padding: 1rem 2rem;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 5px;
}

.menu-toggle-button {
  display: none;
}


@media screen and (max-width: 43.75em) {
  .header-nav{
    display: none;
  }
  .header-cta-btn{
    display: none;
  }

  .menu-toggle-button {
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 0.5rem;
    text-transform: capitalize;
    color: var(--color-primary);
    background-color: var(--color-white);
  }
}
/* END OF HEADER STYLINGS */